# Ignore Rust build artifacts
move_gen/target

# Ignore Python cache
__pycache__/
/*.py[cod]

# Ignore VSCode settings
.vscode/

# Ignore OS files
.DS_Store

# Python environment
/chess_env

# Ignore flamegraph output
move_gen/flamegraph.svg

# Ignore testing data
move_gen/test_move_data